
.lolo{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.nav{
    background-color: #FFEC8D;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height: 175px;
}

.logo{
    width: 150px;
}
@media screen and (max-width: 350px) {
    .lolo{
        flex-direction: column;
    }
    .nav{
        height: 250px;
    }
}